{% extends "layouts/base.html" %}

{% block extra-links %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/poll.css' %}" />
{% endblock extra-links %}

{% block title %}Available Polls {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Polls</h3>
                    </div>
                        {% for poll in polls %}
                        <li class="list-group-item">
                            <strong>{{ poll.question }}</strong>
                            <span class="pull-right">
                                <a href="{% url 'vote' poll.id %}" class="btn btn-info btn-xs">Vote</a> &nbsp;
                                <a href="{% url 'results' poll.id %}" class="btn btn-default btn-xs">View Results</a> &nbsp;
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
        </div>
    </div>
</div>
{% endblock %}
