

{% extends "email_templates/email_base.html" %}

{% block title %}Password Reset {% endblock title %}

{% block message_heading %}To Reset Your StuCo App Password:{% endblock message_heading %}

{% block email_content %}

        Dear {{ first_name }},
        <br />
        <br />
        We have received a request to reset your password for the StuCo App. If you did not make this request, please ignore this email and
        make sure you can still login to your account.
        <br />
        <br />
        If you did make this request, please click the link below to reset your password.
        <br />
        <br />
        Your confirmation code is:
        <br />
        <h2>{{ confirmation_code }}</h2>
        <br />
        <br />

        </p>
        <a
          style="
            border: none;
            border-radius: 3px;
            display: inline-block;
            font-size: 16px;
            padding: 16px 20px 15px;
            overflow: hidden;
            text-decoration: none;
            background: #9062ad;
            color: black;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
            margin: 30px 0;
            font-family: Arial, sans-serif;
          "
          href="{{ webapp_base_url }}/accounts/user/reset_password?confirmation_code={{ confirmation_code }}"
          >
          Reset Password
        </a>

{% endblock %}
