{% extends "email_templates/email_base.html" %}

{% block title %}Password Reset Success{% endblock title %}

{% block message_heading %}Your StuCo App Password Has Been Reset{% endblock message_heading %}

{% block email_content %}


        <p
          style="
            color: #5d5d5d;
            font-size: 18px;
            font-weight: 200;
            width: 70%;
            line-height: 24px;
            margin: 0;
            font-family: Arial, sans-serif;
          "
        >
          Dear {{ first_name }},
          <br />
          <br />
          This message is to let you know that your password for the StuCo App has been successfully
          reset.
          <br />
          <br />
        </p>

{% endblock %}
